<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-reference-my-suffix-heading" jhiTranslate="referenceRecordApp.reference.home.createOrEditLabel">Create or edit a Reference</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!reference.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="reference.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="referenceRecordApp.reference.company" for="field_company">Company</label>
                    <input type="text" class="form-control" name="company" id="field_company"
                        [(ngModel)]="reference.company" required/>
                    <div [hidden]="!(editForm.controls.company?.dirty && editForm.controls.company?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.company?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="referenceRecordApp.reference.applyTime" for="field_applyTime">Apply Time</label>
                    <div class="d-flex">
                        <input id="field_applyTime" type="datetime-local" class="form-control" name="applyTime" [(ngModel)]="applyTime"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.applyTime?.dirty && editForm.controls.applyTime?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.applyTime?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.applyTime?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="referenceRecordApp.reference.location" for="field_location">Location</label>
                    <input class="form-control" type ="text" id="field_location" name="location" [(ngModel)]="reference.location" required >
                    <div [hidden]="!(editForm.controls.location?.dirty && editForm.controls.location?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.location?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="referenceRecordApp.reference.resume" for="field_resume">Resume</label>
                    <input class="form-control" type="text" id="field_resume" name="resume" [(ngModel)]="reference.resume" required>
                    <div [hidden]="!(editForm.controls.resume?.dirty && editForm.controls.resume?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.resume?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="referenceRecordApp.reference.cover" for="field_cover">Cover</label>
                    <input class="form-control" type="text" id="field_cover" name="cover" [(ngModel)]="reference.cover" required>
                    <div [hidden]="!(editForm.controls.cover?.dirty && editForm.controls.cover?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.cover?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="referenceRecordApp.reference.referenceFile" for="field_referenceFile">Reference File</label>
                    <input class="form-control" type="text" id="field_referenceFile" name="referenceFile" [(ngModel)]="reference.referenceFile" required>
                    <div [hidden]="!(editForm.controls.referenceFile?.dirty && editForm.controls.referenceFile?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.referenceFile?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="referenceRecordApp.reference.jobTitle" for="field_jobTitle">Job Title</label>
                    <input class="form-control" type="text" id="field_jobTitle" name="jobTitle" [(ngModel)]="reference.jobTitle" required>
                    <div [hidden]="!(editForm.controls.jobTitle?.dirty && editForm.controls.jobTitle?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.jobTitle?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
