<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="coverLetter">
            <h2><span jhiTranslate="referenceRecordApp.coverLetter.detail.title">Cover Letter</span> {{coverLetter.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="referenceRecordApp.coverLetter.name">Name</span></dt>
                <dd>
                    <span>{{coverLetter.name}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cover-letter-my-suffix', coverLetter.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
