<div>
    <h2 id="page-heading">
        <span jhiTranslate="referenceRecordApp.coverLetter.home.title">Cover Letters</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cover-letter-my-suffix" [routerLink]="['/cover-letter-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="referenceRecordApp.coverLetter.home.createLabel">
            Create new Cover Letter
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="coverLetters">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="referenceRecordApp.coverLetter.name">Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let coverLetter of coverLetters ;trackBy: trackId">
                <td><a [routerLink]="['/cover-letter-my-suffix', coverLetter.id, 'view' ]">{{coverLetter.id}}</a></td>
                <td>{{coverLetter.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/cover-letter-my-suffix', coverLetter.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cover-letter-my-suffix', coverLetter.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cover-letter-my-suffix/'+ coverLetter.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
